registry=https://pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/registry/:username=pwc-cl-ifs-fin
//pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/registry/:_password=RERRUXZUb1BNcWgyakNSZElFenpnZkdrTWNmRFFBS0tQSjdiVjlXS3g5VnI4SmcyVmE3ekpRUUo5OUJCQUNBQUFBQUNxTHpoQUFBU0FaRE8zYzhh
//pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/:username=pwc-cl-ifs-fin
//pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/:_password=RERRUXZUb1BNcWgyakNSZElFenpnZkdrTWNmRFFBS0tQSjdiVjlXS3g5VnI4SmcyVmE3ekpRUUo5OUJCQUNBQUFBQUNxTHpoQUFBU0FaRE8zYzhh
//pkgs.dev.azure.com/pwc-cl-ifs-fin/PortalReclutamiento/_packaging/package-test/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
